:root {
 --background-color: #FFFFFF;
 --logo-main-color: #4d5ae5;
 --background-color-section: #2E2F42;
 --section-heading-color: #434455;
 --footer-color: #F4F4FD;
 --link-hover-focus: #404bbf;
}

body {
font-family: 'Roboto', sans-serif;
color: var(--section-heading-color);
background-color: var(--background-color);
}

header {
  background-color: var(--background-color);
}

.link {
  text-decoration: none;
  color: var(--background-color-section);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.32px;
}

.contact-links {
  text-decoration: none;
  color: var();
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.32px;
}

button {
  color: var();
  background-color: var();
}

a:hover {
  text-decoration: underline;
}

button:hover {
  background-color: var();
}

.logo {
  color: var(--logo-main-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03;
  text-transform: uppercase;

}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.studio-link {
color: var(--background-color-section);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02;
}

.nav-links:hover {
  color: #404bbf;
}

.nav-link:active {
  color: #404bbf;
}

address {
  font-style: normal;
}

.contact-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--section-heading-color)
}

.contact-list:hover {
  color:#404bbf;
}

.contact-list:active {
  color: #404bbf;

}

.highlight {
  color: var();
}

section {
  background-color: ;
}

.header-list {
  color: var();
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.header-list-description {
  color: var();
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.page-footer {
  background-color: var();
  width: 1440px;
  height: 312px;
}

.footer-text {
  color: var();
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
