* {
  margin: 0;
  padding: 0;
  }
  

:root {
 --background-color: #FFFFFF;
 --logo-main-color: #4d5ae5;
 --background-color-section: #2E2F42;
 --section-heading-color: #434455;
 --footer-color: #F4F4FD;
 --link-hover-focus: #404bbf;
 --container-color: #e7e9fc;
 --customer-section-color: #8E8F99;


}



body {
font-family: 'Roboto', sans-serif;
color: var(--section-heading-color);
background-color: var(--background-color);
}

header {
  background-color: var(--background-color);
}


.link {
  text-decoration: none;
  color: var(--background-color-section);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.contact-links {
  text-decoration: none;
  color: var();
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.32px;
}



a:hover {
  text-decoration: underline;
}


.logo {
  color: var(--logo-main-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px

  

}

.link {
  text-decoration: none;
  box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
  transform: translateY(0%);;
}

.link:focus {
  transform: translateY(0%);
}

.list {
  list-style: none;
  display: flex;
  gap: 40px;
}

.studio-link {
color: var(--background-color-section);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02;
}

.nav-links {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-color-section);
  padding-top: 24px; 
  padding-bottom: 24px;
  display: inline-block;
  
  
}

.nav-links:hover, .nav-links:focus {
  color: #404bbf;
}


address {
  font-style: normal;
  padding: 24px 0;
}

.contact-list {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--section-heading-color)
}

.contact-list:hover, .contact-list:focus {
  color:#404bbf;
}


.nav-logo {
  color: var(--background-color-section);
}

.nav-logo:active {
  color:#404bbf;
}

.background-heading{
  background-color: var(--background-color-section);
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img17.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
}

.heading-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color:#FFFFFF;
  max-width: 496px; 
  

}

.order-service-button {
  background-color:var(--logo-main-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block; 
  min-width: 169px;
  height: 56px;
  border: none; 
  border-radius: 4px; 

}

.order-service-button:hover {
  background-color: #404BBF;
}

.order-service-button:active {
  background-color: #404BBF;
}

.main-goals-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.list-main-goals {
  display: flex; 
  gap: 24px;
}

.list-main-goals-item {
  flex-basis: calc((100% - 72px) / 4);
}


.main-goals-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #F4F4FD;
  border-radius: 4px;
  margin-bottom: 8px;
}


.second-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--background-color-section);
  margin-bottom: 8px;
}

.main-goal-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--section-heading-color);
}

.index-photos-section {
  padding-bottom: 120px; 
}

.third-heading {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--background-color-section);
  margin-bottom: 72px; 
}

.photos-section-list {
  display: flex; 
  gap: 24px; 
}

.photo-section-item {
  width: calc((100% - 48px) / 3); 
}

.worker-name-section {
  background-color: #F4F4FD;
  padding-top: 120px;
 padding-bottom: 120px;
}


.fourth-heading {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--background-color-section);
  margin-bottom: 72px; 
}

.workers-list {
  display: flex; 
  gap: 24px; 
}

.worker-photo {
  background-color: #FFFFFF;
  width: calc((100% - 72px) / 4); 
  border-radius: 0px 0px 4px 4px; 
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}



.name-position {
 padding: 32px 0 ;
}

.name-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--background-color-section);
  text-align: center; 
  margin-bottom: 8px;
}

.position-name {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--section-heading-color);
  text-align: center;

}

.social-media-list {
  display: flex;
  justify-content: center;
  gap: 24px;

}

.social-media-list-item {
  width: 40px;
  height: 40px;
}


.socials {
  width: 100%;
  height: 100%;
  background-color: var(--logo-main-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.socials:hover {
  background-color: #404bbf;
}

.socials:focus {
  background-color: #404bbf;
}

.socials-icon {
  fill: var(--footer-color);
}


.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-heading {
  font-size: 36px;
  line-height: 1.11;
  color: var(--background-color-section);
  margin-bottom: 72px;
}

.client-list {
  display: flex;
  gap: 24px;
}

.client-list-item {
  width: calc((100% - 120px) / 6); 
  height: 88px;

}

.client-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--customer-section-color);

}

.client-link:hover, .client-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.customers-icon {
  fill: currentColor;
}

footer {
  background-color: var(--background-color-section);
}

.footer-area {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  font-family: "Raleway",sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-main-color);
  display: inline-block;
  margin-bottom: 16px; 
}

.highlight {
  color: #f4f4fd;
}


.footer-text {
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: var(--footer-color);
 max-width: 264px;
}

button {
  font-family: "Roboto",sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-main-color);
  background-color: var(--footer-color);
  cursor: pointer;

}

button:hover {
  color: #FFFFFF;
  background-color: #404BBF;
}

button:focus {
  color: #FFFFFF;
  background-color: #404BBF;
}

.header-list {
  color: var(--background-color-section);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.header-list-description {
  color: var(--section-heading-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

img {
  display: block;
}

.header-box {
  border-bottom: 1px solid #E7E9FC;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);;
}

.header-pages {
display: flex;
gap: 332px;
}

.container {
  width: 1158px; 
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
 
}

.header-pages-arrange {
  display: flex;
  align-items: center; 
}

.header-portfolio {
  border-bottom: 1px solid #e7e9fc;

}

.list-address {
  display: flex; 
  gap: 40px
}

.portfolio-box {
  display: flex;
}

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.contacts-portfolio {
  display: flex;
  align-items: center; 
}




.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-portfolio-buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.button-portfolio {
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:hover {
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); ;
}

.button-portfolio:focus {
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); ;
} 

.list-portfolio-images {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.list-images {
  width: calc((100% - 48px) /3);
  
}

.list-images-item {
  display: block;

}

.list-images-item:hover, .list-images-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); ;
}

.app-concept-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;

}

.footer-container {
  display: flex;
  align-items: baseline;
  
  
}

.div-item {
  margin-right: 120px;
}

.social-media-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-color);
  margin-bottom: 16px;

}

.social-media-footer-list {
  display: flex;
  gap: 16px;

}

.social-media-footer-list-item {
  width: 40px;
  height: 40px;

}

.social-media-footer-link {
  width: 100%;
  height: 100%;
  background-color: var(--logo-main-color);
  border-radius: 50%;
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.social-media-footer-link:hover, .social-media-footer-link:focus {
  background-color: #31d0aa;
}

.footer-icon {
  fill: var(--footer-color);

}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1); 
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  width: 408px;
  min-height: 584px; 
flex-shrink: 0;
  border-radius: 4px;
  background: #FCFCFC;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}

.modal-btn {
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px; 
  width: 24px; 
  height: 24px; 
  border-radius: 50%;
  display: flex; 
  align-items: center; 
  justify-content: center;
  background-color: #e7e9fc; 
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0; 
  cursor: pointer; 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 


}

.close-btn:hover {
  border: none; 
}

.close-btn:focus {
  background-color: #404bbf; 
  border: none; 
}

.close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}