* {
  margin: 0;
  padding: 0;
  }
  

:root {
 --background-color: #FFFFFF;
 --logo-main-color: #4d5ae5;
 --background-color-section: #2E2F42;
 --section-heading-color: #434455;
 --footer-color: #F4F4FD;
 --link-hover-focus: #404bbf;
 --container-color: #e7e9fc;



}

body {
font-family: 'Roboto', sans-serif;
color: var(--section-heading-color);
background-color: var(--background-color);
}

header {
  background-color: var(--background-color);
}

.link {
  text-decoration: none;
  color: var(--background-color-section);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.contact-links {
  text-decoration: none;
  color: var();
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.32px;
}



a:hover {
  text-decoration: underline;
}


.logo {
  color: var(--logo-main-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px

  

}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  display: flex;
  gap: 40px;
}

.studio-link {
color: var(--background-color-section);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02;
}

.nav-links {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-color-section);
  padding-top: 24px; 
  padding-bottom: 24px;
  
  
}

.nav-links:hover, .nav-links:focus {
  color: #404bbf;
}


address {
  font-style: normal;
}

.contact-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--section-heading-color)
}

.contact-list:hover, .contact-list:focus {
  color:#404bbf;
}


.nav-logo {
  color: var(--background-color-section);
}

.nav-logo:active {
  color:#404bbf;
}

.background-heading{
  background-color: var(--background-color-section);
  padding-top: 188px;
  padding-bottom: 188px;
}

.heading-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color:#FFFFFF;
  max-width: 496px; 
  

}

.order-service-button {
  background-color:var(--logo-main-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block; 
  min-width: 169px;
  height: 56px;
  border: none; 
  border-radius: 4px; 

}

.order-service-button:hover {
  background-color: #404BBF;
}

.order-service-button:active {
  background-color: #404BBF;
}

.main-goals-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.list-main-goals {
  display: flex; 
  gap: 24px;
}

.list-main-goals-item {
  flex-basis: calc((100% - 72px) / 4);
}

.second-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--background-color-section);
  margin-bottom: 8px;
}

.main-goal-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--section-heading-color);
}

.index-photos-section {
  padding-bottom: 120px; 
}

.third-heading {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--background-color-section);
  margin-bottom: 72px; 
}

.photos-section-list {
  display: flex; 
  gap: 24px; 
}

.photo-section-item {
  flex-basis: calc((100% - 3 * 16px) / 3);
}

.worker-name-section {
  background-color: #F4F4FD;
  padding-top: 120px;
 padding-bottom: 120px;
}


.fourth-heading {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--background-color-section);
  margin-bottom: 72px; 
}

.workers-list {
  display: flex; 
  gap: 24px; 
}

.worker-photo {
  background-color: #FFFFFF;
  width: calc((100% - 72px) / 4); 
  border-radius: 0px 0px 4px 4px; 
}

.name-position {
 padding: 32px 0 ;
}

.name-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--background-color-section);
  text-align: center; 
  margin-bottom: 8px;
}

.position-name {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--section-heading-color);
  text-align: center;

}


footer {
  background-color: var(--background-color-section);
}

.footer-area {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  font-family: "Raleway",sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-main-color);
  display: inline-block;
  margin-bottom: 16px; 
}

.highlight {
  color: #f4f4fd;
}


.footer-text {
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: var(--footer-color);
 max-width: 264px;
}

button {
  font-family: "Roboto",sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-main-color);
  background-color: var(--footer-color);
  cursor: pointer;

}

button:hover {
  color: #FFFFFF;
  background-color: #404BBF;
}

button:focus {
  color: #FFFFFF;
  background-color: #404BBF;
}

.header-list {
  color: var(--background-color-section);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.header-list-description {
  color: var(--section-heading-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

img {
  display: block;
}

.header-box {
  border-bottom: 1px solid #E7E9FC;
}

.header-pages {
display: flex;
}

.container {
  width: 1158px; 
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #e7e9fc;
}

.header-pages-arrange {
  display: flex;
  align-items: center; 
}

.header-portfolio {
  border-bottom: 1px solid #e7e9fc;

}

.list-address {
  display: flex; 
  gap: 40px
}

.portfolio-box {
  display: flex;
}

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.contacts-portfolio {
  display: flex;
  align-items: center; 
}




.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-portfolio-buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.button-portfolio {
  padding: 12px 24px;
  border: 1px solid var(--container-color);
  border-radius: 4px;
}

.button-portfolio:hover {
  border: 1px solid transparent;
}

.button-portfolio:focus {
  border: 1px solid transparent;
} 

.list-portfolio-images {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.list-images {
  width: calc((100% - 48px)/3);
}

.app-concept-portfolio {
  padding: 32px 16px;
  border: 1px solid var(--container-color);
  border-top: none;

}