:root {
 --background-color: #FFFFFF;
 --logo-main-color: #4d5ae5;
 --background-color-section: #2E2F42;
 --section-heading-color: #434455;
 --footer-color: #F4F4FD;
 --link-hover-focus: #404bbf;
}

body {
font-family: 'Roboto', sans-serif;
color: var(--section-heading-color);
background-color: var(--background-color);
}

header {
  background-color: var(--background-color);
}

.link {
  text-decoration: none;
  color: var(--background-color-section);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.32px;
}

.contact-links {
  text-decoration: none;
  color: var();
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.32px;
}

button {
  color: var();
  background-color: var();
}

a:hover {
  text-decoration: underline;
}

button:hover {
  background-color: var();
}

.logo {
  color: var(--logo-main-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03;
  text-transform: uppercase;

}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.studio-link {
color: var(--background-color-section);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02;
}

.nav-links {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-color-section);
  
}

.nav-links:hover {
  color: #404bbf;
}

.nav-link:active {
  color: #404bbf;
}

address {
  font-style: normal;
}

.contact-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--section-heading-color)
}

.contact-list:hover {
  color:#404bbf;
}

.contact-list:active {
  color: #404bbf;

}

.nav-logo {
  color: var(--background-color-section);
}

.background-heading{
  background-color: var(--background-color-section);
}

.heading-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color:#FFFFFF;


}

.order-service-button {
  background-color: #4D5AE5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;

}

.order-service-button:hover {
  background-color: #404BBF;
}

.order-service-button:active {
  background-color: #404BBF;
}

.second-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--background-color-section);
}

.main-goal-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--section-heading-color);
}

.third-heading {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--background-color-section);

}

.worker-name-section {
  background-color: #F4F4FD;
}

.fourth-heading {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--background-color-section);
}

.worker-photo {
  background-color: #FFFFFF;
}

.name-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--background-color-section);
}

.position-name {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--section-heading-color);

}


footer {
  background-color: var(--background-color-section);
}

.footer-logo {
  font-family: "Raleway",sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-main-color);

}

.highlight {
  color: #f4f4fd;
}


.footer-text {
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: var(--footer-color);
}

button {
  font-family: "Roboto",sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-main-color);
  background-color: var(--footer-color);
  cursor: pointer;

}

button:hover {
  color: #FFFFFF;
  background-color: #404BBF;
}

button:active {
  color: #FFFFFF;
  background-color: #404BBF;
}

.header-list {
  color: var(--background-color-section);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.header-list-description {
  color: var(--section-heading-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
